body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer layout {
  .app-container {

    width: 80vw;
    margin: 0 auto;

    @media only screen and (max-width: 600px) {
      width: 100vh;
    }
  }
}

@layer table {
  .table-striped-rows tr:nth-child(2n) td {
    background-color: #fbfbfb;
  }
  .table-striped-rows thead {
    background-color: #f1f1f1;
  }
}

@layer login {
  .login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    min-width: 400px;
    max-width: 800px;
    text-align: right;
  }

  .login-button {
    width: 100%;
    margin-top: 2rem;
  }
}

@layer {
  .action-bar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
  }
}

@layer common {
  .content-right {
    display: flex;
    justify-content: end;
  }
}